<br/>
<h3 class="text-center">Checkout</h3>
<hr>
<div class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h5>Order details:</h5>
        <hr>
          <ul class="list-group list-group-horizontal fs-6" *ngFor="let orderItem of orderItems">
            <input type="text" value="{{ orderItem.product.name }}" class="flex-fill" name="orderItemName" disabled>
            <input type="number" value="{{ orderItem.quantity }}" name="orderItemQuantity" disabled>
            <input type="text" value="{{ orderItem.totalProductPrice | currency }}" name="productTotalPrice" disabled>
          </ul>
        <hr>
          <input type="text" name="orderTotalPrice" style="float:right;font-size: 16px" value="{{ totalOrderPrice | currency}}" disabled>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h5>Customer details:</h5>
        <hr>
        <form (ngSubmit)="orderService.onCreateOrder(f.value)" #f="ngForm" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" ngModel name="name" required #name="ngModel">
          </div>
          <small class="form-text" style="color: red;" *ngIf="!name.valid && name.touched">* Please fill in name</small>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel" >
          </div>
          <small class="form-text" style="color: red;" *ngIf="!email.valid && email.touched">* Please enter a valid email address</small>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" ngModel name="address" required #address="ngModel">
          </div>
          <small class="form-text" style="color: red;" *ngIf="!address.valid && address.touched">* Please fill in address</small>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" class="form-control" ngModel name="city" required #city="ngModel">
          </div>
          <small class="form-text" style="color: red;" *ngIf="!city.valid && city.touched">* Please fill in city</small>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" id="phone" class="form-control" ngModel name="phone" required #phone="ngModel">
          </div>
            <li class="list-unstyled"><small id="formHelp" class="form-text" style="color: red;" *ngIf="!phone.valid && phone.touched">* Please fill in phone-number</small></li>
          <li class="list-unstyled"><small id="formInfo" class="form-text text-muted">We'll never share your details with anyone else.</small></li>
          <hr>
          <div class="form-group">
            <button class="btn btn-primary" style="background-color: #002A46;float:right" [disabled]="!f.valid">Continue checkout</button>
          </div>
        </form>
    </div>
  </div>
  </div>
</div>


