<br/>
<h3 class="text-center">Shopping Cart</h3>
<hr>
<div class="container">
    <div class="row">
        <ul class="list-group list-group-horizontal" *ngFor="let product of products">
            <li class="list-group-item row-cols-1 flex-fill">{{ product.name }}</li>
            <li class="list-group-item btn-success">+</li>
            <li class="list-group-item btn-danger">-</li>
            <li class="list-group-item">Quantity: 0</li>
            <li class="list-group-item">Total: €</li>
        </ul>
        <div>
            <hr>
        </div>
        <ul class="d-flex flex-row-reverse">
            <li class="btn btn-dark" style="background-color: #002A46;">Checkout</li>
            <li class="list-group-item">Total order price: <strong>€ 50.0123,-</strong></li>
        </ul>
    </div>
</div>
