<br/>
<h3 class="text-center">Products</h3>
<hr>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        <ul class="list-group" *ngFor="let product of products | async">
          <li class="list-group-item d-inline-flex justify-content-between align-items-center">
            <div class="fw-bold">{{ product.name }} </div>
              <div>{{ product.price|currency}}</div>
              <div style="width: 20px;">
                <span class="badge bg-info fs-6">{{ getCartQuantity(product) }}</span>
              </div>
            <div>
              <button class="btn btn-outline-success" style="cursor: pointer;width: 35px" (click)="addToCart(product)">+</button>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>

