<br/>
<h3 class="text-center">Products</h3>
<hr>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="list-group list-group-horizontal" *ngFor="let product of products | async">
            <li class="list-group-item flex-fill">{{ product.productName }}</li>
            <li class="list-group-item flex-fill">€{{ product.productPrice }}</li>
            <li class="list-group-item btn-success" style="cursor: pointer" (click)="addToCart(product)">+</li>
          <li class="list-group-item">{{ product.quantity}}</li>
        </ul>
      </div>
    </div>
</div>
