<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #002A46;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/img/logo.png" alt="Recranet Shop">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="navbar-brand">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link" href="#">Shopping Cart</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <img src="/assets/img/img_avatar1.png" alt="Avatar" style="width:40px;" class="rounded-pill">
                </a>
                <button class="navbar-brand btn btn-dark" type="button" style="background-color: #002A46;">Login</button>
            </div>
        </div>
    </div>
</nav>